@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
}

.background {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/images/bg-desktop-light.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.todo-container {
    width: 540px;
    padding-top: 70px;
}

.todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 15px;
}

.img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.create-todo {
    width: 100%;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: white;
    margin-top: 48px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0 20px;
}

.checkbox-item {
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    border: 1px solid #E3E4F1;
    position: relative;
}

.checkbox-1 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.input-div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("/images/icon-check.svg"),linear-gradient(rgba(85,211,255,1), rgba(192,88,243,1));
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

.checkbox-1:checked + .input-div{
    opacity: 1;
}

.input-text {
    color: #9495A5;
    font-size: 18px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    width: 200px;
}

li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 64px;
    padding: 0 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #E3E4F1;
    justify-content: space-between;
}

li img {
    opacity: 0;
    width: 18px;
    height: 18px;
}

li:hover img {
    opacity: 1;
    cursor: pointer;
}

ul {
    border-radius: 5px;
}

h3 {
    color: #494C6B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
}

.todo-list {
    margin-top: 24px;
    border-radius: 5px;
    background: white;
}

.ul-footer {
    width: 100%;
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    color: #9495A5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: normal;
    letter-spacing: -0.194px;
}

h4 {
    color: #9495A5;
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.194px;
}

.active-text {
    display: flex;
    gap: 19px;
}

.drag {
    text-align: center;
    margin: 48px;
}

.mobile-footer {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    display: flex;
    margin-top: 16px;
    justify-content: center;
    background: white;
    display: none;
}

.mobile-flex {
    display: flex;
    gap: 10px;
}

.darkElement {
    background: #25273D;
}

.flex-cross {
    display: flex;
    gap: 30px;
    align-items: center;
}

.edit-task-input {
    color: #494C6B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
}

.edit-task-input:hover,
.edit-task-input:focus {
    border: none;
    box-shadow: none;
    cursor: text;
}

@media only screen and (max-width: 768px) {
    .todo-container {
        width: 327px;
    }    

    .mobile-footer {
        display: flex;
    }

    .active-text {
        display: none;
    }
}